<table>
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Birthdate</td>
    <td>Sex</td>
    <td>Color</td>
  </tr>
  <tr>
    <td><%= @cat.name.capitalize %></td>
    <td><%= @cat.age/31536000.0 %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
  </tr>
</table>